<div class="delivery-container">
  <!-- <div id="map"
       leaflet
       ></div> -->
  <div id="map"></div>

  <div class="deliveryList">
    <div>
      <button (click)="openBottomSheet()" mat-fab color="primary" aria-label="Example icon button with a delete icon">
        <mat-icon>menu_book</mat-icon>
      </button>
    </div>
  </div>
  <div class ="drone-available">
    <mat-chip-list><mat-chip color="primary" selected>Drone available - {{droneCount}}</mat-chip></mat-chip-list>
    <mat-chip-list><mat-chip *ngIf="estimatedTimeFlag" color="primary" selected>Estimation time to deliver - 2 minitues</mat-chip></mat-chip-list>

  </div>
  </div>
