
.hm-menu-card {
  max-width: 400px;
  text-align: center;
  padding: 251px 146px 27px;
  background-repeat: no-repeat;
    background-size: cover;
}


.hm-container{
  margin-top: 100px;
  .example-form{
    width: 100%;
    .example-full-width{
      width: 45%;
      margin-right: 20px;
    }
  }
  .mat-card-header .mat-card-title{
  text-align: center;
  }
  .btn-block-1{
    margin-right: 10px;
  }
}
