<div class="hm-container">
<div class="container">
  <div class="row">
  <div class="col d-flex justify-content-center">
    <mat-card class="example-card" [ngStyle]="{'background-image': 'url(../../../assets/Images/place-order.png)'}">
      <mat-card-actions>
        <button mat-raised-button color="accent" (click)="showOrderForm()" mat-button>Book Parcel</button>
      </mat-card-actions>
    </mat-card>

  </div>
  <div class="col d-flex justify-content-center">
    <mat-card class="example-card" [ngStyle]="{'background-image': 'url(../../../assets/Images/check-order-status.png)'}">
      <mat-card-header>
      </mat-card-header>
      <mat-card-actions>
        <button mat-raised-button color="accent" (click)="checkParcel()" mat-button>Get Parcel</button>
      </mat-card-actions>
    </mat-card>
  </div>
  </div>



</div>

</div>
