.order-form-wrapper{
  margin-top: 100px;
  .mat-card .mat-card-title{
    color:#ff4081
  }
  .order-form{
    width: 100%;
    .form-full-width{
      width: 45%;
      margin-right: 20px;
    }
  }
  .btn-block-1{
    margin-right: 10px;
  }

}
